.link {
  color: var(--color-teal);
  cursor: pointer;
  font: var(--font-link);
  text-align: left;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;  
  }
}

.link--small {
  font: var(--font-link-small);

  &.link--dark {
    color: var(--color-gray-500);
  }

  &.link--right-icon {
    &:hover,
    &:focus {
      svg {
        transform: translate(0);
      }
    }
  }
}

.link--dark {
  color: var(--color-anthracite);
  transition: color 0.2s ease;

  @media (prefers-reduced-motion) {
    transition: 0;
  }

  &:hover,
  &:focus {
    color: var(--color-teal);
  }
}

.link--right-icon {
  align-items: center;
  color: var(--color-teal);
  display: inline-flex;
  gap: 10px;

  svg {
    transition: all 0.3s ease-out;
    
    @media (prefers-reduced-motion) {
      transition: 0;
    }
  }

  &:hover,
  &:focus {
    color: var(--color-navy);

    svg {
      transform: translate(-5px, 0);
    }   
  }
}

.link--left-icon {
  align-items: center;
  color: var(--color-teal);
  display: inline-flex;
  gap: 10px;
  transition: color 0.2s ease;
    
  @media (prefers-reduced-motion) {
    transition: 0;
  }

  &:hover,
  &:focus {
    color: var(--color-navy);
  }
}

.link--on-dark {
  color: var(--color-white);

  &:hover,
  &:focus {
    color: var(--color-white);
  }
}

