<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Home page'}}
</head>
<body>
  {{>header}}

  <section role="main">
    <h1>Home page</h1>

    {{>button title="Button text" classes="btn btn--primary"}}
    {{>list items='["item 1", "item 2"]' }}

    {{>link classes="link" title="Large text link"}} 
    {{>link classes="link link--small" title="Small text link"}} 
    {{>link classes="link link--on-dark" title="Large text link on dark"}} 
    {{>link classes="link link--on-dark link--small" title="Small text link on dark"}} 
    {{>link classes="link link--dark" title="Large text dark"}} 
    {{>link classes="link link--dark link--small" title="Small text dark"}} 
    {{>link classes="link link--left-icon" leftIcon="true" title="Link left icon"}} 
    {{>link classes="link link--left-icon link--on-dark" leftIcon="true" title="Link left icon on dark"}} 
    {{>link classes="link link--left-icon link--small" leftIcon="true" title="Link small left icon"}} 
    {{>link classes="link link--left-icon link--on-dark link--small" leftIcon="true" title="Link small left icon on dark"}} 
    {{>link classes="link link--right-icon" rightIcon="true" title="Link right icon"}} 
    {{>link classes="link link--right-icon link--on-dark" rightIcon="true" title="Link right icon on dark"}} 
    {{>link classes="link link--right-icon link--small" rightIcon="true" title="Link small right icon"}} 
    {{>link classes="link link--right-icon link--on-dark link--small" rightIcon="true" title="Link small right icon on dark"}} 

    <div>
      <svg>
        <use xlink:href="#arrow-right"/>
      </svg>
    </div>
  </section>

  <div class="test" data-component="Foo">
    Component
  </div>

  <!-- Footer -->
  {{>footer}}
</body>
</html>
